<footer class="text-muted" id="footer">
    <div class="container">
        <p class="float-right">
            <a href="#">返回顶部</a>
        </p>
        <p>Copyright © 2023  <a target="_blank" href="https://houz.cn/">CFAM</a>  © 版权所有</p>
        <p id="by">By：<a target="_blank" href="https://houz.cn/">会飞的鱼</a> </p>
    </div>
</footer>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/index.js"></script>
<script>
    function redirectToQQ() {
      window.location.href = '/ajax/qqlogin';
    }
  </script>