<div class="col-lg-3">
    <div class="list-group">
        <a href="/user" class="list-group-item list-group-item-action">
            <span class="iconfont icon-User"></span> 个人信息 </a>
        <a href="/user/stash" class="list-group-item list-group-item-action">
            <span class="iconfont icon-setting"></span> 仓库管理 </a>
        <a href="/user/bought" class="list-group-item list-group-item-action">
            <span class="iconfont icon-buy"></span> 已购商品</a>
        <a href="/user/cdks" class="list-group-item list-group-item-action">
            <span class="iconfont icon-Link"></span> Cdk兑换 </a>
    </div>
</div>