<link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
<div class="layui-fluid" style="padding-bottom: 75px;">
    <form class="layui-form" action="" style="margin-top: 50px">
        <div class="layui-form-item">
            <label class="layui-form-label">USN</label>
            <div class="layui-input-block">
                <input type="text" name="usn" value="{$USN}" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="email" value="{$EMAIL}" autocomplete="off"  class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">现有CF点</label>
            <div class="layui-input-block">
                <input type="text" name="cf" value="{$CF}" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">充值点数</label>
            <div class="layui-input-block">
                <input type="text" name="paycf" value="" autocomplete="off"  class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="submit">确认充值</button>
            </div>
        </div>
    </form>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    var index = parent.layer.getFrameIndex(window.name);
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#product-expired' //指定元素
            , type: 'datetime'
        });
        form.on('submit(submit)', function (data) {
            var load_show = layer.msg('正在处理中，请稍后...', {icon: 16, shade: 0.1, time: 0});
            layui.$.post("/Admin/UpCf", data.field, (res) => {
                if (res.code == 200) {
                    parent.table.reload('CfUser_Table', {
                        page: {
                            curr: 1
                        }
                        , where: {}
                    }, 'data')
                    parent.layer.close(index)
                }else{
                    layer.msg(res.msg, {icon: 2});
                }
                layer.close(load_show);
            })
            return false
        })
    })
</script>

