
<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
  <script type="text/html" template>
    <p>当前版本：V1.3</p>
    <p>基于框架：layui-v{{ layui.v }}</p>
  </script>
  <div class="layui-btn-container">
    <a href="https://houz.cn/" target="_blank" class="layui-btn">下载源码</a>
  </div>
</div>

<div class="layui-card-header">关于版权</div>
<div class="layui-card-body layui-text layadmin-about">
  
  <blockquote class="layui-elem-quote" style="border: none;">
    禁止外传本套源码，作者：会飞的鱼<br>QQ：137691250
  </blockquote>
  <p>© 2023 <a href="https://houz.cn/">houz.cn</a> 版权所有</p>
</div>